@mixin ring($w, $c)
{
    
    width: $w;
    height:$w;
    border-style: solid;
    border-width: $w/8;
    border-color: $c;
    border-radius: $w*8;
    box-shadow:$w/15 $w/15 $w/15 darken( $c, 30% );
    
}

.div
{
    
    @include ring(30px, orange);    
    
}

.div
{
    
    @include ring(150px, yellow);    
    
}

@for $i from 1 through 6 {
        #section-#{i} {
        @include ring($i*9px, grey);
        
    }
    
}